.container{
    background-color:transparent;
    padding:5%;
    border-color:white;
    border-style: double;
    margin-top:50px;
    width:70%;
    position:relative;
    overflow: auto;
    font-size:12px;
}

h2 {
	font-size:20px;
	color:#f2a223;
    font-weight:bold;
    width: 100%;
    text-align: center;
}

input, textarea, select {
    font-size:12px;
     font-family:Arial, Helvetica, sans-serif;
     padding:5px;
     width: 160px;
     border:1px solid #413e3e;
    background:#000;
    color:white;
    display: inline-block;
  }
  textarea {
    overflow:auto;
  }

  .action-event-table{
    border:none;
    color:white;
    background-color:#1b1d1f;
    margin-left: 10%;
    width: 30%;
    font-size: 15px;
  }

  .action-event-table td{
    padding: 10px;
  }

  .action-container{
    background-color:black;
    padding:5%;
    border-color:white;
    border-style: double;
    margin-top:50px;
    width:80%;
    margin-top:10px;
    margin-left: 10%;
    margin-right: 10%;
	position:relative;
}

.action-table{
    border:none;
    color:white;
    background-color:transparent;
    margin-left: 1%;
    width: 90%;
    font-size: 15px;
    text-align: right;
  }

  .action-table td{
    max-width: 50%;
    padding: 3%;
  }

  .action-table input, textarea, select {
    font-size:12px;
     font-family:Arial, Helvetica, sans-serif;
     padding:5px;
     width: 100%;
     border-color:white;
    border-style: double;
    background:#000;
    color:white;
    display: inline-block;
  }

  textarea{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
    width: 100%;
    border-color:white;
   border-style: double;
   background:#000;
   color:white;
   display: inline-block;
   height: 100px;
  }

  option{
      background-color: black;
  }

  .transparentButton{
      width:50%;
      margin-left: 25%;
      color: white;
      background-color: transparent;
      border-style: double;
      border-color: #f2a223;
      padding: 10px;
      margin-top: 20px;
      font-size: 15px;
  }

  .container .confirm-button{
    background-color:#f2a223;
    font-size: 15px;
    font-weight:bold;
    color:black;
    padding:10px;
    border: none;
    width:30%;
	float:left;
    display:inline;
    position:relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:20px;
  }

  .selected-item{
    border:none;
    color:white;
    background-color:transparent;
  }

  .x {
    position: relative;
    top: 0px;
    right: 0px;
    padding: 5px 8px;
    background: #d91d2a;
    color: white;
    margin-left: 10px;
  }

  .x:hover{
    background: red;
  }