<div class="container">
    <h2 class="form-signin-heading">Free Minutes By Title Of User</h2>
    <p>Define the number of free minutes that all users of the defined title rank will receive:</p>
    <br/>
    <table class="invisible-table" *ngFor="let minutes of freeMinutes">
    <tbody>
        <tr>
            <td>Title Rank:</td>
            <td>
                <select [(ngModel)]="minutes.title">
                    <option value="GOLD">Gold</option>
                    <option value="SILVER">Silver</option>
                    <option value="BRONZE">Bronze</option>
                    <option value="NONE">None</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Number of Minutes:</td>
            <td><input type="number" required [(ngModel)]="minutes.amount"></td>
        </tr>
    </tbody>
    </table>
    <div class="break"></div>
    <button class="orangeButton" type="submit" (click)="save()">Finish</button>
  </div>
