<div class="container">
  <form class="form-signin" (ngSubmit)=" updateArtist()">
    <h2 class="form-signin-heading">Update artist</h2>
    <br/>
    <table class="invisible-table">
      <tbody>
        <tr>
          <td><input type="text" id="name" name="name" [(ngModel)]="artist.name" placeholder="artist.name" required autofocus></td>
        </tr>
        <tr>
          <td><input type="text" id="surname" name="surname" [(ngModel)]="artist.surname" placeholder="artist.surname" required></td>
        </tr>
      </tbody>
    </table>
    <div class="break"></div>
    <button class="orangeButton" type="submit">Update artist</button>
  </form>
</div>