.container{
    background-color:#101113;
    padding:5%;
    border-color:white;
    border-style: double;
    margin-top:50px;
    width:45%;
	float:left;
	display:inline;
	position:relative;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;

}

.crossed-text{
    color:red;
    text-decoration: line-through;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

h2 {
	font-size:30px;
	color:#f2a223;
    font-weight:bold;
    text-align: center;
    width: 100%;
}

h3{
    font-size: 25px;
    font-weight:bold;
    text-align: center;
    width: 100%;
    color: white;
}

textarea {
	overflow:auto;
}

.transparentButton{
    width: 30%;
    background-color: transparent;
    color:white;
    border-color: #f2a223;
    border-style: double;
    font-weight:bold;
    padding: 5px;
    font-size: 15px;
    margin-left: 35%;
}