<div class="container">
    <h2 class="form-signin-heading">Film Restriction</h2>
    <p>Choose film that users of choosen age category can not watch</p>
    <br/>
    <table class="invisible-table" *ngFor="let restriction of restrictions">
    <tbody>
        <tr>
            <td>Age Category:</td>
            <td>
                <select [(ngModel)]="restriction.ageCategory">
                    <option value="CHILD">Child</option>
                    <option value="TEEN">Teenager</option>
                    <option value="YOUNG_ADULT">Young Adult</option>
                    <option value="ADULT">Adult</option>
                    <option value="ELDER">Elder</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Film:</td>
            <td>
                <select [(ngModel)]="restriction.id">
                    <option *ngFor="let film of films" value="{{film.id}}">{{film.name}}</option>
                </select>
            </td>
        </tr>
    </tbody>
    </table>
    <div class="break"></div>
    <button class="orangeButton" type="submit" (click)="saveChanges()">Finish</button>
  </div>
