.container{
    background-color:#1b1d1f;
    padding:7%;
    border-color:white;
    border-style: double;
    width: 100%;
}
h2 {
	font-size:20px;
	color:white;
    font-weight:bold;
    color: #f2a223;
    width:100%;
    text-align: center;
}
p{
    color:white;
    font-size: 13px;
}
input, textarea, select {
	font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
    width: 100%;
    border:1px solid #413e3e;
	background:#000;
	color:white;
}
textarea {
	overflow:auto;
}

.orangeButton{
    width: 30%;
    background-color: #f2a223;
    color:black;
    border: none;
    font-weight:bold;
    padding: 5px;
    margin-left:35%;
    margin-top: 20px;
}

.invisible-table{
    background-color: transparent;
    border: none;
    color: white;
    font-weight:bold;
    margin-left: 10%;
    width: 70%;
}

.invisible-table td{
    width: 50%;
    padding: 5px;
    text-align: right;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:white;
  }