
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form class="form-signin" (ngSubmit)="createOffer()">
          <h2 class="form-signin-heading">Create offer</h2>
          <br/>
          <a>Minutes</a>
          <input type="number" id="minutes" name="minutes" [(ngModel)]="offer.minutes" placeholder="Minutes" required autofocus>
          <div class="break"></div>
          <a>Price</a>
          <input type="number" id="price" name="price" [(ngModel)]="offer.price" placeholder="Price" required>
          <div class="break"></div>
          <button class="orangeButton" type="submit">Create offer</button>
        </form>
    </div>
    </div>
</div>