<body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
      <div id="sub-navigation">
        <ul>
          <li><div class="search"><label for="search-field">GENRE:</label>
            <select class="search-field" [(ngModel)]="searchedGenre" name="search field">
              <option>ACTION</option>
              <option>ADVENTURE</option>
              <option>ANIMATED</option>
              <option>COMEDY</option>
              <option>DOCUMENTARY</option>
              <option>DRAMA</option>
              <option>HISTORICAL</option>
              <option>HORROR</option>
              <option>MUSIC</option>
              <option>SCIFI</option>
              <option>THRILLER</option>
              <option>WESTERN</option>
              <option>FAMILY</option>
            </select>
            <input type="submit" value="GO!" class="search-button" (click)="showSearchedByGenre()"/></div></li>
        </ul>
        <div class="search">
          <form action="#" method="get" accept-charset="utf-8">
            <label for="search-field">SEARCH</label>
            <input type="text" name="search field" class="search-field" [(ngModel)]="searchedFilm" />
            <input type="submit" value="GO!" class="search-button" (click)="showSearchedByName()"/>
          </form>
        </div>
      </div>
      <div id="main">
        <div id="content">
          <div class="box">
            <div class="head">
              <a (click)="mainpage()">back to mainpage</a>
            </div>
            <div  >
              <div class="movie" *ngFor="let film of films">
                <div class="movie-image"><a (click)="watchFilm(film.id)" ><img src="{{film.poster}}" /></a> </div>
                <div class="rating">
                  <p class="film-name">{{film.name}}</p>
                  <div class="rating-show">
                    <span class="star" *ngIf="film.rating >= 1">&#x2605;</span>
                    <span class="star" *ngIf="1 > film.rating">&#x2606;</span>
                    <span class="star" *ngIf="film.rating >= 1.5">&#x2605;</span>
                    <span class="star" *ngIf="1.5 > film.rating">&#x2606;</span>
                    <span class="star" *ngIf="film.rating >= 2.5">&#x2605;</span>
                    <span class="star" *ngIf="2.5 > film.rating">&#x2606;</span>
                    <span class="star" *ngIf="film.rating >= 3.5">&#x2605;</span>
                    <span class="star" *ngIf="3.5 > film.rating">&#x2606;</span>
                    <span class="star" *ngIf="film.rating >= 4.5">&#x2605;</span>
                    <span class="star" *ngIf="4.5 > film.rating">&#x2606;</span>
                  </div>
                  <div class="film-name"><button class="transparentButton" type="input" (click)="moreInfo(film.id)">More Info</button></div>
                </div>
              </div>
            </div>
            <div class="cl">&nbsp;</div>
          </div>
        </div>
        
      </div>
      <div id="footer">
        <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
        <p class="rf">Design by <a href="http://chocotemplates.com/">ChocoTemplates.com</a></p>
        <div style="clear:both;"></div>
      </div>
    </div>
    <!-- END PAGE SOURCE -->
    </body>
    
