<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MovieHunter</title>
</head>
<body>
<!-- START PAGE SOURCE -->
<div id="shell">
  <div id="header">
    <h1 id="logo">Video Club</h1>
    <div id="navigation">
      <ul *ngIf="loggedIn==false">
        <li><a class="active">HOME</a></li>
        <li><a (click)="login()">LOG IN</a></li>
        <li><a (click)="register()">REGISTER</a></li>
      </ul>
      <ul *ngIf="loggedIn==true">
        <li><a class="active">HOME</a></li>
        <li><a (click)="logout()">LOG OUT</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>