<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MovieHunter</title>
</head>
<body>
<!-- START PAGE SOURCE -->
<div id="shell">
  <div id="header">
    <h1 id="logo">Video Club</h1>
    <div id="navigation">
      <ul *ngIf="loggedIn==false">
        <li><a class="active">HOME</a></li>
        <li><a (click)="login()">LOG IN</a></li>
        <li><a (click)="register()">REGISTER</a></li>
      </ul>
      <ul *ngIf="loggedIn==true && loggedUser.role === 'ROLE_REGISTERED_USER'">
        <li><a [class.active]="activePage==='home'" (click)="home()">HOME</a></li>
        <li><a class="dropdown">NOTIFICATIONS<span class="badge" *ngIf="unopenedNotifications() > 0">{{unopenedNotifications()}}</span>
          <div class="dropdown-content" *ngIf="unopenedNotifications() > 0  || notifications.length >0">
            <div class="notification" *ngFor="let notification of notifications" (click)="openNotification(notification.header, notification.body, notification.id, notification.opened)"><h2>{{notification.header}}</h2><p>{{notification.body}}</p></div></div>
        </a></li>
        <li><a [class.active]="activePage==='profile'" (click)="profile()">MY PROFILE</a></li>
        <li><a [class.active]="activePage==='offers'" (click)="offers()">OFFERS</a></li>
        <li><a [class.active]="activePage==='actions'" (click)="actions()">ACTIONS</a></li>
        <li><a (click)="logout()">LOG OUT</a></li>
      </ul>
      <ul *ngIf="loggedIn==true && loggedUser.role === 'ROLE_ADMIN'">
        <li><a [class.active]="activePage==='home'" (click)="home()">HOME</a></li>
        <li><div class="dropdown">
          <a [class.active]="activePage==='offers'" id="dropdown-a">OFFERS</a>
            <div class="dropdown-content">
              <a [class.active]="activePage==='create-offer'" (click)= "createOffer()">Create offer</a>
              <a [class.active]="activePage==='show-all-offers'" (click)= "showAllOffers()">Show all offers</a>
            </div>
          </div></li>
        <li><a [class.active]="activePage==='actions'" (click)="actions()">ACTIONS</a></li>
        <li><a [class.active]="activePage==='report'" (click)="report()">REPORTS</a></li>
        <li><a [class.active]="activePage==='profile'" (click)="profile()">MY PROFILE</a></li>
        <li><div class="dropdown">
        <a [class.active]="activePage==='actors'" id="dropdown-a">ACTORS</a>
          <div class="dropdown-content">
            <a [class.active]="activePage==='add-actor'" (click)= "addActor()">Add actor</a>
            <a [class.active]="activePage==='show-all-actors'" (click)= "showAllActors()">View all</a>
          </div>
        </div></li>
        <li><a (click)=createFilm()>FILM</a></li>
        <li><a >NOTIFICATIONS</a></li>
        <li><a (click)="logout()">LOG OUT</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>