.badge {
    position: relative;
    top: -10px;
    right: -5px;
    padding: 3px 5px;
    border-radius: 50%;
    background: #d91d2a;
    color: white;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #1b1d1f;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}